:root {
  --right: 220px;
}

#aiwrapper {
  padding: 0;
  padding-left: var(--right);
  transition: all 0.4s ease 0s;
  height: 100vh;

}
.aine {
  margin-left: calc(var(--right) * -1);
  left: var(--right);
  width: var(--right);
  position: fixed;
  height: 100%;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  background-image: url("../img/bg/bgr08.jpg");
  background-color: #2c2f34;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.aine ul, .aine li {
  margin: 0;
  padding: 0;
}

.aine .sidebar-logo{
  background: black;
  height: 65px;
}

.aine .center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.aine .arrown{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  position: absolute;
  top: .8rem;
  right: 0;
  margin-right: 1.25rem;
  -webkit-transition: all .7s;
  transition: all .4s;
}

.aine .activen .arrown{
  -webkit-transform: rotate( 180deg );
  transform: rotate( 180deg);
}

#clickn-sub, .sub{
  visibility: hidden;
  overflow: hidden;
  background: #0dcaf0;
  transition: height .4s;
}
.activen #clickn-sub{
  background: #0dcaf0;
  transition: height .4s;
}

.navbar{
  position: relative;
}

li.active{
  background: #0000002e;
}

li.active a.active{
  color: white;
}

li.clickn.active{
  background: none;
}

li.clickn.active:hover{
  background: #cfcfcf;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: -webkit-fill-available;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}


.sidebar-nav li {
  line-height: 40px;
}

.sidebar-nav >li a {
  position: relative;
  color: #000000;
  display: block;
  text-decoration: none;
  font-size: .9rem;
  padding-left: 20px;
}

.sidebar-nav >li li a {
  padding-left: 45px;
}

.fa, .fas, .fab{
  margin-right: 13px;
}

li {
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.sidebar-nav li:hover {
  background: #0000001e;
  text-decoration: none;
}

.sidebar-nav li:active,
.sidebar-nav li:focus {
  text-decoration: none;
}


@media (max-width:767px) {
  #aiwrapper {
    padding-left: 0;
  }
  #aine {
    left: 0;
  }
  #aiwrapper.active {
    position: relative;
    left: 200px;
  }
  #aiwrapper.active #aine {
    left: 200px;
    width: 200px;
    transition: all 0.4s ease 0s;
  }
  #menu-toggle {
    display: inline-block;
  }
  .inset {
    padding: 15px;
  }
}


































